.field-add {
  position: sticky;
  top: 0;
  z-index: 1;
}

.table-fields thead th {
  position: sticky;
  top: 33px;
}

body.dragging, body.dragging * {
  cursor: move !important;
}

.table-sortable tr {
  position: relative;
}

.table-sortable .dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

.table-sortable .placeholder {
  border-top: 5px solid #F99462;
  display: block;
}

.table-sortable .drag-handle {
  cursor: pointer;
}

.table-relations td {
  vertical-align: middle;
}

.table-relations td .form-control {
  padding: .375rem .75rem;
}
