/* Mobile Form
------------------------------*/

.mobile-form .form-group {
  border-bottom: 1px solid #D3D3D3;
  display: flex;
  margin-top: 10px;
  padding: 0 5px;
}

.mobile-form .form-group.no-flex {
  border-width: 0;
  display: block;
}

.mobile-form .row {
  padding: 0 5px;
}

.mobile-form textarea:focus, .mobile-form input:focus, .mobile-form select:focus {
  border-color: inherit;
  box-shadow: none;
}

.mobile-form select {
  direction: rtl;
}

.mobile-form select option {
  direction: ltr;
}

.mobile-form .control-label {
  color: #717171;
  font-weight: 600;
  margin-bottom: 0;
  margin-right: 10px;
  margin-top: 8px;
  white-space: nowrap;
}

.mobile-form .form-field {
  flex: 1;
}

.mobile-form .form-control {
  background: #FFFFFF;
  border-radius: 0;
  border-width: 0;
  text-align: right;
}

.mobile-form .form-group.no-flex .form-control {
  border-width: 1px;
  text-align: left;
}

.mobile-form .input-group-text {
  border-radius: 0;
}

.mobile-form .input-group-text.transparent {
  background-color: transparent;
  border-width: 0;
}

.mobile-form .md-editor, .mobile-form .md-toolbar {
  border-left-width: 0;
  border-radius: 0;
  border-right-width: 0;
}

.mobile-form .file-field {
  border: 0;
}

.mobile-form .file-field thead {
  display: none;
}

.mobile-form .file-field .file-field-name {
  max-width: 30ch;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mobile-form .file-field input.form-control {
  direction: ltr;
  text-align: left;
}

.mobile-form .form-body {
  background-color: #FFFFFF;
  bottom: 50px;
  left: 0;
  overflow: auto;
  position: absolute;
  top: 0;
  right: 0;
}

.mobile-form .form-foot {
  background-color: #FFFFFF;
  bottom: 0;
  left: 0;
  padding: 5px;
  position: absolute;
  right: 0;
}

.mobile-form .help-text {
  display: block;
  margin-top: -1rem;
  padding-left: 5px;
  padding-right: 5px;
}

.mobile-form .tag-field {
  border: 0;
  box-shadow: none;
}

.mobile-form .tag-field .tag {
  border-radius: 0;
}

.mobile-form .tag-field .tag input[type="text"] {
  color: #717171;
}

.mobile-form .tag-field .tag input[type="text"]::-webkit-input-placeholder {
  color: #919191;
}

.mobile-form .tag-field .tag input[type="text"]::-moz-placeholder {
  color: #919191;
}

.mobile-form .tag-field .tag input[type="text"]:-ms-input-placeholder {
  color: #919191;
}

.mobile-form .tag-field .tag input[type="text"]input:-moz-placeholder {
  color: #919191;
}

.mobile-form .tag-field .tag .remove {
  color: #3B3A53;
}

.mobile-form .select2-container {
  margin-bottom: 2px;
  margin-top: 3px;
  text-align: right;
  width: 100% !important;
}

.mobile-form .select2-container--default .select2-selection--single,
.mobile-form .select2-container--default .select2-selection--multiple {
  border-width: 0 !important;
}

.mobile-form .select-tree-field {
  border-bottom: 1px solid #D3D3D3;
  margin: 20px 0 10px;
}

.mobile-form .select-tree-field .select-tree-display {
  padding: 0;
}

.mobile-form .select-tree-field .select-tree-display-label {
  align-items: flex-start;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.mobile-form .select-tree-field .select-tree-display-label span {
  flex: 1;
}

.mobile-form .select-tree-field .select-tree-display-label .fa-chevron-down,
.mobile-form .select-tree-field .select-tree-display-label .fa-times {
  margin-top: 4px;
}

/* Tab Form
------------------------------*/

.tab-form .form-body {
  background-color: #F2F2F2;
}

.tab-form .form-body .main-fields {
  background-color: #FFFFFF;
  padding: 1px 0;
}
