/* Theme
------------------------------*/

a,
a:link,
a:hover,
a:active,
a:visited {
  color: #00B7D2;
}

.text-primary {
  color: #F99462 !important;
}

.text-secondary {
  color: #00B7D2 !important;
}

.btn-default,
.btn-default:link,
.btn-default:hover,
.btn-default:active,
.btn-default:visited {
  background-color: #909090 !important;
  border-color: #909090 !important;
  color: #FFFFFF !important;
}

.btn-light,
.btn-light:link,
.btn-light:hover,
.btn-light:active,
.btn-light:visited {
  background-color: #F1F1F1;
  border-color: #F1F1F1;
  color: #95989A;
}

.btn-primary,
.btn-primary:link,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:disabled {
  background-color: #F99462 !important;
  border-color: #F99462 !important;
  color: #FFFFFF !important;
}

.btn-secondary,
.btn-secondary:link,
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:visited {
  background-color: #00B7D2 !important;
  border-color: #00B7D2 !important;
  color: #FFFFFF !important;
}

.btn-outline-default,
.btn-outline-default:link,
.btn-outline-default:hover,
.btn-outline-default:active,
.btn-outline-default:visited {
  background-color: #FFFFFF !important;
  border-color: #909090 !important;
  color: #909090 !important;
}

.btn-outline-light,
.btn-outline-light:link,
.btn-outline-light:hover,
.btn-outline-light:active,
.btn-outline-light:visited {
  background-color: #FFFFFF !important;
  border-color: #95989A !important;
  color: #95989A !important;
}

.btn-outline-primary,
.btn-outline-primary:link,
.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary:visited {
  background-color: #FFFFFF !important;
  border-color: #F99462 !important;
  color: #F99462 !important;
}

.btn-outline-secondary,
.btn-outline-secondary:link,
.btn-outline-secondary:hover,
.btn-outline-secondary:active,
.btn-outline-secondary:visited {
  background-color: #FFFFFF !important;
  border-color: #00B7D2 !important;
  color: #00B7D2 !important;
}

.table-striped tbody tr:nth-of-type(odd) td,
.table-striped tbody tr:nth-of-type(odd) th {
  background-color: #F1F1F1;
}

.table tbody tr:hover,
.table tbody tr:hover {
  background-color: #F1F1F1;
}

.page-item.active .page-link {
  background-color: #F99462;
  border-color: #F99462;
}

.nav-tabs {
  border-color: #F1F1F1;
}

.nav-tabs .nav-link {
  color: #F99462;
}

.nav-tabs .nav-link.active {
  background-color: #F1F1F1;
  color: #666666;
}

.nav-pills .nav-link.active {
  background-color: #F99462;
  border-color: #F99462;
}

.tag-field .tag {
  background-color: #E2E9E9 !important;
}

.layout-panel .panel-sidebar-left .panel-head {
  background-color: #F2F2F2;
}

.layout-panel .panel-sidebar-left .panel-head .panel-title {
  color: #474747;
  text-transform: uppercase;
}

.layout-panel .panel-sidebar-left .nav-link > i:first-child,
.layout-panel .panel-sidebar-left .nav-cat > i:first-child,
.layout-panel .panel-sidebar-left .nav-item.active .nav-link > i:first-child {
  color: #00B7D2;
}

.layout-panel .panel-sidebar-left {
  background-color: #FFFFFF;
  border-right: 1px solid rgba(0,0,0,.12);
}

.layout-panel .panel-sidebar-left .panel-head .sidebar-hide {
  color: #00B7D2;
}

.layout-panel .panel-sidebar-left .nav-link {
  color: #666666;
}

.layout-panel .panel-sidebar-left .nav-item:hover > .nav-link,
.layout-panel .panel-sidebar-left .nav-item.active > .nav-link {
  background-color: #00B7D2;
  color: #FFFFFF;
}

.layout-panel .panel-sidebar-left .nav-item .nav-item:hover > .nav-link {
  background-color: #E9ECEF;
  color: #666666;
}

.layout-panel .panel-sidebar-left .nav-item .nav-item.active > .nav-link {
  background-color: #00B7D2;
  color: #FFFFFF;
}

.layout-panel .panel-sidebar-left .nav-item:hover > .nav-link > i:first-child,
.layout-panel .panel-sidebar-left .nav-item.active .nav-link > i:first-child {
  color: #FFFFFF;
}

.layout-panel .panel-main {
  background-color: #FFFFFF;
}

.layout-panel .panel-main .panel-title {
  color: #666666;
  background-color: #E2E9E9 !important;
}

.layout-panel .panel-main .panel-head .nav-link {
  color: #00B7D2;
}

.view-mobile .view-head {
  background-color: #F2F2F2;
  color: #666666;
}

.view-mobile .view-head .sidebar-hide {
  color: #00B7D2;
}

.switch.switch-6 input:checked + span::before {
  background-color: #4DA8DE !important;
}
