<div class="bulk-form d-none">
  <button
    class="btn btn-secondary"
    data-do="panel-mobile-open"
    data-on="click"
    data-template="/spa/product/bulk/update"
    data-form="form.table-form"
    type="button"
  >
    <i class="fas fa-edit"></i>
    {{_ 'Bulk Update'}}
  </button>
  <button
    class="btn btn-success"
    data-do="panel-mobile-open"
    data-on="click"
    data-template="/spa/product/bulk/inventory"
    data-form="form.table-form"
    type="button"
  >
    <i class="fas fa-plus"></i>
    {{_ 'Bulk Inventory'}}
  </button>
  <button
    class="btn btn-danger"
    data-do="panel-mobile-open"
    data-on="click"
    data-template="/spa/product/bulk/remove"
    data-form="form.table-form"
    type="button"
  >
    <i class="fas fa-times"></i>
    {{_ 'Bulk Remove'}}
  </button>
</div>
