<tr>
  <th class="checkall freeze-top freeze-left">
    <label class="checkbox checkbox-1 mb-0">
      <input data-do="table-checkall" type="checkbox" />
      <span></span>
    </label>
  </th>
  <th id="column-id" class="freeze-top freeze-left-2" nowrap>
    <a href="?{{sorturl 'order' 'template1_id'}}#column-id">
      {{_ 'ID'}}
      {{{sortcaret 'order' 'template1_id'}}}
    </a>
  </th>
  <th class="freeze-top">{{_ 'Reference'}}</th>
  <th class="freeze-top">{{_ 'Title'}}</th>
  <th id="column-price" class="freeze-top" nowrap>
    <a href="?{{sorturl 'order' 'template1_price'}}#column-price">
      {{_ 'Price'}}
      {{{sortcaret 'order' 'template1_price'}}}
    </a>
  </th>
  <th id="column-expires" class="freeze-top" nowrap>
    <a href="?{{sorturl 'order' 'template1_expires'}}#column-expires">
      {{_ 'Expires'}}
      {{{sortcaret 'order' 'template1_expires'}}}
    </a>
  </th>
  <th id="column-quantity" class="text-right freeze-top" nowrap>
    <a href="?{{sorturl 'order' 'template1_quantity'}}#column-quantity">
      {{_ 'Quantity'}}
      {{{sortcaret 'order' 'template1_quantity'}}}
    </a>
  </th>
  <th id="column-status" class="freeze-top" nowrap>
    <a href="?{{sorturl 'order' 'template1_status'}}#column-status">
      {{_ 'Status'}}
      {{{sortcaret 'order' 'template1_status'}}}
    </a>
  </th>
  <th class="text-center freeze-top freeze-right">
    {{_ 'Action'}}
  </th>
</tr>
