<tr>
  <td class="table-bulk-checkbox freeze-left">
    <label class="checkbox checkbox-1 mb-0">
      <input name="ids[]" type="checkbox" value="{{template1_id}}" />
      <span></span>
    </label>
  </td>
  <td class="freeze-left-2">
    {{template1_id}}
  </td>
  <td nowrap>
    <a href="?{{query 'filter' 'template1_reference' template1_reference}}">
      {{template1_reference}}
    </a>
  </td>
  <td wrap-3>{{template1_title}}</td>
  <td class="text-normal" nowrap>{{currency template1_currency}} {{price template1_price}}</td>
  <td nowrap>{{date template1_available 'M d, Y'}}</td>
  <td nowrap class="text-right">{{number template1_quantity}}</td>
  <td class="text-capitalize" nowrap>{{template1_status}}</td>
  <td class="text-center freeze-right" nowrap>
    <a
      data-do="panel-mobile-open"
      data-template="/spa/template1/detail/{{template1_id}}"
      data-on="click"
      href="javascript:void(0)"
    >
      <i class="fa fa-eye"></i>
    </a>
  </td>
</tr>
