<ul class="nav nav-pills border-bottom pb-2 pt-2 mb-4" role="tablist">
  <li class="nav-item{{#unless filter.product_status}} active{{/unless}}">
    <a
      class="nav-link{{#unless filter.product_status}} active{{/unless}}"
      href="?{{query 'filter[product_status]' ''}}"
    >
      {{_ 'All'}}
    </a>
  </li>
  <li class="nav-item{{#when filter.product_status '===' 'draft'}} active{{/when}}">
    <a
      class="nav-link{{#when filter.product_status '===' 'draft'}} active{{/when}}"
      href="?{{query 'filter[product_status]' 'draft'}}"
    >
      {{_ 'Draft'}}
    </a>
  </li>
  <li class="nav-item{{#when filter.product_status '===' 'review'}} active{{/when}}">
    <a
      class="nav-link{{#when filter.product_status '===' 'review'}} active{{/when}}"
      href="?{{query 'filter[product_status]' 'review'}}"
    >
      {{_ 'Under Review'}}
    </a>
  </li>
  <li class="nav-item{{#when filter.product_status '===' 'ready'}} active{{/when}}">
    <a
      class="nav-link{{#when filter.product_status '===' 'ready'}} active{{/when}}"
      href="?{{query 'filter[product_status]' 'ready'}}"
    >
      {{_ 'Ready to List'}}
    </a>
  </li>
  <li class="nav-item{{#when filter.product_status '===' 'failed'}} active{{/when}}">
    <a
      class="nav-link{{#when filter.product_status '===' 'failed'}} active{{/when}}"
      href="?{{query 'filter[product_status]' 'failed'}}"
    >
      {{_ 'Failed'}}
    </a>
  </li>
</ul>
