<a
  class="btn btn-outline-secondary btn-block mb-3 field-add"
  data-do="panel-mobile-forward"
  data-on="click"
  data-method="post"
  data-template="/admin/spa/system/schema/field"
  href="javascript:void(0)"
>
  <i class="fas fa-plus"></i> {{_ 'Add Field'}}
</a>
<table
  class="table table-fields table-sortable"
  data-do="table-sortable"
  data-handle="td.drag-handle"
>
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>{{_ 'Name'}}</th>
      <th>{{_ 'Format'}}</th>
      <th>{{_ 'Index'}}</th>
    </tr>
  </thead>
  <tbody>
    {{#each item.fields}}
      {{> field_row}}
    {{/each}}
  </tbody>
</table>

<div class="alert alert-info alert-table-fields-empty{{#if item.fields.length}} d-none{{/if}}">
  <i class="fas fa-fw fa-info-circle"></i>
  {{_ 'No Fields Defined'}}
</div>
