<div class="form-group form-group-list">
  <label class="control-label">{{_ 'List Format'}}</label>
  <div>
    <select
      class="field-list form-control"
      data-do="field-format"
      data-name="list"
      data-on="change"
      name="list[format]"
    >
      {{> options_format list}}
    </select>

    {{#if list.config.fieldset.length}}
      <div class="fieldset-format mt-2">
        {{#each list.config.fieldset~}}
          {{{this}}}
        {{~/each~}}
      </div>
    {{/if}}
  </div>
</div>
