<form
  action="/admin/spa/system/fieldset/import"
  data-do="panel-form"
  data-on="submit"
  data-after="reload"
  method="post"
>
  <!-- START: Head -->
  <header class="view-head">
    <button
      class="sidebar-hide"
      data-do="panel-mobile-back"
      data-on="click"
      type="button"
    >
      <i class="fas fa-chevron-left"></i>
    </button>
    <h6 class="view-title">
      <i class="fas fa-cloud-upload-alt d-inline-block mr-2"></i>
      {{_ 'Import Fieldset'}}
    </h6>
  </header>
  <!-- END: Head -->
  <!-- START: Body -->
  <section class="view-body no-scroll with-foot-2 fieldset-detail">
    <table
      class="table table-striped file-field mt-0"
      data-do="file-field"
      data-accept="application/json,application/zip"
      data-name="fieldset"
    >
      <thead>
        <tr>
          <th>{{_ 'Preview'}}</th>
          <th>{{_ 'Name'}}</th>
        </tr>
      </thead>
      <tbody>
        {{#if item.fieldset}}
          <tr class="file-field-none" style="display:none;">
            <td colspan="5">
              <div class="alert alert-info">{{_ 'No File Selected'}}</div>
            </td>
          </tr>
          <tr class="file-field-item" data-index="0">
            <td class="file-field-preview">
              {{#fileinfo item.fieldset}}
                {{#in 'jpg,jpeg,png,gif' extension}}
                  <div class="file-field-preview-container">
                    <img src="{{../this}}" height="50" />
                  </div>
                {{else}}
                  <div class="file-field-preview-container">
                    <i class="fas fa-file text-info"></i>
                    <span class="file-field-extension">{{extension}}</span>
                  </div>
                {{/in}}
              {{/fileinfo}}
            </td>
            <td class="file-field-name">
              {{item.fieldset}}
              <input name="fieldset" type="hidden" value="" />
            </td>
          </tr>
        {{else}}
          <tr class="file-field-none">
            <td colspan="5">
              <div class="alert alert-info">{{_ 'No File Selected'}}</div>
            </td>
          </tr>
        {{/if}}
      </tbody>
      <tfoot>
        <tr>
          <td colspan="5">
            <button
              class="file-field-upload btn btn-info"
              type="button"
            >
              {{_ 'Choose File'}}
            </button>
          </td>
        </tr>
      </tfoot>
    </table>
  </section>
  <!-- END: Body -->
  <!-- START: Foot -->
  <footer class="view-foot">
    <button class="btn btn-primary btn-block">{{_ 'Import'}}</button>
  </footer>
  <!-- END: Foot -->
</form>
