<style>
  {{> asset_style}}
</style>
<h3 class="panel-title">
  <span class="font-weight-normal">
    <i class="fas fa-home fa-fw"></i>
    <a href="/admin">{{_ 'Admin'}}</a>
  </span>

  <i class="fas fa-chevron-right fa-fw text-gray"></i>

  <i class="fas fa-database fa-fw"></i>
  {{_ title}}
</h3>
<div class="panel-body search-table">
  {{#if rows.length}}
    {{> search_links}}
    {{> search_tabs}}
    <form class="table-form table-scroll">
      <table class="table table-striped">
        <thead class="thead-light">
          {{> search_head}}
        </thead>
        <tbody>
          {{#each rows}}
            {{> search_row}}
          {{/each}}
        </tbody>
      </table>
    </form>
    <ul class="pagination">
      {{#pager total range}}
        <li class="page-item{{#if active}} active{{/if}}">
          <a class="page-link" href="?{{href}}">{{page}}</a>
        </li>
      {{/pager}}
    </ul>
  {{else}}
    <div class="search-actions">
      {{> search_links}}
    </div>
    {{> search_tabs}}
    <div class="alert alert-info mt-4">
      <i class="fas fa-info-circle"></i>
      {{_ 'No results found.'}}
    </div>
  {{/if}}
</div>

<script type="text/javascript">
  {{> asset_script}}
  {{> field_script}}
</script>
