<style>
  .app-panel {
    color: {{theme_text_color}};
  }

  .app-panel a,
  .app-panel a:link,
  .app-panel a:hover,
  .app-panel a:active,
  .app-panel a:visited {
    color: {{theme_link_color}};
  }

  .app-panel .text-primary {
    color: {{theme_text_color}} !important;
  }

  .app-panel .panel-main .panel-head .nav-link {
    color: {{theme_text_color}};
  }

  .app-panel .btn-primary,
  .app-panel .btn-primary:hover {
    background-color: {{theme_primary_button_color}} !important;
    border-color: {{theme_primary_button_color}} !important;
    color: #FFFFFF !important;
  }

  .app-panel .btn-outline-primary,
  .app-panel .btn-outline-primary:hover {
    color: {{theme_primary_button_color}} !important;
    background-color: #FFFFFF !important;
    border-color: {{theme_primary_button_color}} !important;
  }

  .app-panel .btn-secondary,
  .app-panel .btn-secondary:hover {
    background-color: {{theme_secondary_button_color}} !important;
    border-color: {{theme_secondary_button_color}} !important;
    color: #FFFFFF !important;
  }

  .app-panel .btn-outline-secondary,
  .app-panel .btn-outline-secondary:hover {
    color: {{theme_secondary_button_color}} !important;
    background-color: #FFFFFF !important;
    border-color: {{theme_secondary_button_color}} !important;
  }

  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    background-color: {{theme_secondary_button_color}} !important;
    border-color: {{theme_secondary_button_color}} !important;
  }

  .app-panel .panel-sidebar-left .panel-head {
    background-color: {{theme_color_1}};
  }

  .app-panel .panel-sidebar-left {
    background-color: {{theme_color_2}};
  }

  .app-panel .panel-sidebar-left .nav-item.active,
  .app-panel .panel-sidebar-left .nav-item-sub.active {
    background-color: {{theme_color_1}};
  }

  .app-panel .panel-sidebar-left .nav-item:hover>.nav-link {
    background-color: {{theme_color_1}} !important;
  }

  .app-panel .panel-sidebar-left .nav-item.active::before,
  .app-panel .panel-sidebar-left .nav-item-sub.active::before {
    background-color: {{theme_color_3}};
  }

  .app-panel .panel-sidebar-left .nav-item.active .nav-link > i:first-child {
    color: {{theme_color_3}};
  }

  .app-panel .panel-sidebar-left .nav-link > i:first-child {
    color: {{theme_color_3}};
  }

  .app-panel .panel-main {
    background-color: {{theme_color_4}};
  }

  .app-panel .panel-main .panel-title {
    background-color: {{theme_color_3}};
  }

  .table-striped tbody tr:nth-of-type(odd) th,
  .table-striped tbody tr:nth-of-type(odd) td {
    background-color: {{theme_color_4}};
  }

  .app-panel .panel-mobile-screen .panel-head {
    background-color: {{theme_color_1}};
  }

  .page-item.active .page-link {
    background-color: {{theme_secondary_button_color}};
    border-color: {{theme_secondary_button_color}};
}
</style>
