<style>
.modal-inline {
    display: block;
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    z-index: 1041;
}
body, .page-home body {
  background-color: #93CDDB;
}
</style>

<div class="modal modal-inline" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger">Invalid Request</h5>
            </div>
            <div class="modal-body">
                <p>
                    The application interacting with us has sent us an invalid request.
                    Please notify the application of this error.
                </p>
                {{#if message}}
                    <p>
                        {{message}}
                    </p>
                {{/if}}
            </div>
        </div>
    </div>
</div>
